# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3

# Django media
media/
staticfiles/

# Environments
.env
.venv/
venv/
env/

# System files
*.log
*.DS_Store

# Byte-compiled / cache
*.egg-info/
*.bak
